header {
       background-color: #1f2937;
       display: flex;
       justify-content: space-around;
       color: white;
       align-items: center;
       height: 50px;
}

.logo {
   font-weight: bold;
   margin:auto;
}

li {
      list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: auto;
}

.info-container {
    display: flex;
    align-items: center;
    background-color: lightpink;
    }

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}


#cat-img {
    width: 300px;
    height: auto;
}
